<div class="main-content">
        <div class="section__content section__content--p30">
            <div class="container-fluid">
                    <div class="col-lg-9">
                        <h2 class="title-1 m-b-25">GhostTown Categories</h2>
                        <div class="table-responsive table--no-card m-b-40">
                            <table class="table table-borderless table-striped table-earning">
                                <thead>
                                    <tr>
                                        <th>Name of Category</th>
                                        <th class="text-right">Edit Category</th>
                                        <th class="text-right">Remove Category</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% for (var counter = 0; counter < categories.length; ++counter) { %>
                                    <tr>
                                        <td><%= categories[counter].category_name %></td>
                                    
                                        <td class="text-right">
                                            <a href="/admin/edit-cats?catid=<%= categories[counter]._id %>">Edit</a>
                                        </td>

                                        <td class="text-right">
                                            <a href="/admin/delete-cats?catid=<%= categories[counter]._id %>">Remove</a>
                                        </td>
                                    </tr>
                                    <% } %>
                                </tbody>
                            </table>
                        </div>
                    </div>

                   
                    <form action="/admin/add-category" method="POST">
                        <div class="col-lg-6">
                            <div class="card">
                                <div class="card-header">
                                    Enter new category name at the field below
                                </div>
                                <div class="card-body card-block">
                                    <form action="" method="post" class="form-horizontal">
                                        <div class="row form-group">
                                            <div class="col-md-12">
                                                <input type="text" name="new_category" placeholder="Name of Category" class="form-control">
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="card-footer">
                                    <button type="submit" class="btn btn-primary btn-sm">Create New Category</button>                                    
                                </div>
                            </div>
                        </div>
                    </form>

                    <form action="/admin/edit-cats" method="POST">
                        <div class="col-lg-6">
                            <div class="card">
                                <div class="card-header">
                                    Enter the new category name to update
                                </div>
                                <div class="card-body card-block">
                                    <form action="" method="post" class="form-horizontal">
                                        <div class="row form-group">
                                            <div class="col-md-12">
                                                <input type="text" value="<%= new_category_name %>" name="new_category_name" placeholder="Name of Category" class="form-control">
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="card-footer">
                                    <button type="submit" class="btn btn-danger btn-sm">Update Category</button>                                    
                                </div>
                            </div>
                        </div>
                    </form>
             

                <div class="row">
                    <div class="col-md-12">
                        <div class="copyright">
                            <p>Copyright © 2018 Colorlib. All rights reserved. Template by <a href="https://colorlib.com">Colorlib</a>.</p>
                        </div>
                    </div>
                </div>

            </div> 
        </div>
    </div> 