<%include header%>

<body>
    <div class="page-wrapper">
        <!-- HEADER MOBILE-->

        <!-- END HEADER MOBILE-->

        <!-- MENU SIDEBAR-->
        <%include nav%>

        <!-- PAGE CONTAINER-->
        <div class="page-container">
            <!-- HEADER DESKTOP-->
            <%include administrator_prompt%>
            <!-- HEADER DESKTOP-->

            <!-- MAIN CONTENT-->
            <%include category_data%>
            <!-- END MAIN CONTENT-->
            <!-- END PAGE CONTAINER-->
        </div>

    </div>

<%include footer%>
