<%include header%>

<body class="animsition">
    <div class="page-wrapper">
        
        <%include nav%>

        <div class="page-container">

            <%include administrator_prompt%>
           
            <%include index_contents%>
            
        </div>

    </div>

<%include footer%>
