<aside class="menu-sidebar d-none d-lg-block">
    <div class="logo">
        <a href="#">
            <img src="images/icon/logo.png" alt="Cool Admin" />
        </a>
    </div>
    <div class="menu-sidebar__content js-scrollbar1">
        <nav class="navbar-sidebar">
            <ul class="list-unstyled navbar__list">
                <li class="active has-sub">
                    <a class="js-arrow" href="#">
                        <i class="fas fa-tachometer-alt"></i>Dashboard</a>
                    <ul class="list-unstyled navbar__sub-list js-sub-list">
                        <li>
                            <a href="/admin">GhostTown Dashboard</a>
                        </li>
                    </ul>
                </li>

                <li>
                    <a href="/admin/view-category">
                        <i class="fas fa-th-list"></i>Categories</a>
                </li>


                <li>
                    <a href="/admin/view-comment">
                        <i class="fas fa-comments"></i>Comments</a>
                </li>


                <li>
                    <a href="/admin/view-users">
                        <i class="fas fa-user-circle"></i>GhostTown Users</a>
                </li>

                <li class="has-sub">
                    
                    <a class="js-arrow" href="#">
                        <i class="fas fa-address-card"></i>GhostTown Posts</a>

                    <ul class="list-unstyled navbar__sub-list js-sub-list">
                        <li>
                            <a href="/admin/show-all-posts">View all posts</a>
                        </li>
                        <li>
                                <a href="/admin/add-post">Add new posts</a>
                        </li>
                    </ul>
                
                </li>
            </ul>
        </nav>
    </div>
</aside>