<% for (var counter = 0; counter < notifications.length; ++counter) { %>
    <div class="tt-item tt-itemselect">
        <div class="tt-col-avatar">
            <svg class="tt-icon">
              <use xlink:href="#icon-ava-s"></use>
            </svg>
        </div>
        <div class="tt-col-description">
            <h6 class="tt-title"><a href="/view-notification-content?notification_id=<%=notifications[counter]._id%>">
                <svg class="tt-icon">
                  <use xlink:href="#icon-pinned"></use>
                </svg>
                <%= notifications[counter].notification_name%>
            </a></h6>
            <div class="row align-items-center no-gutters">
                <div class="col-11">
                    <ul class="tt-list-badge">
                        <li class="show-mobile"><a href="#"><span class="tt-color01 tt-badge">Server Notification</span></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <a href="/delete-notification?notification_id=<%=notifications[counter]._id%>" class="tt-col-value hide-mobile">Delete</a>
    </div>
<% } %>
